{% extends "layouts/dashboard.html" %}
{% block dashboard_content %}
    <div class="max-w-md mx-auto mt-12">
        <h1 class="text-2xl font-bold mb-6">{{ title }}</h1>

        {% if error %}
            <div class="mb-4 p-3 rounded bg-red-100 text-red-700">{{ error }}</div>
        {% endif %}

        <!-- app/templates/pages/login.html -->
        <form method="post" action="/login">
            <!-- Hidden input to keep identity if login fails -->
            <div class="flex flex-col gap-4">
                <div>
                    <label class="block mb-2">ایمیل / یوزرنیم</label>
                    <input name="identity" class="input input-bordered w-full" required />
                </div>
                <div>
                    <label class="block mb-2">پسورد</label>
                    <input
                        type="password"
                        name="password"
                        class="input input-bordered w-full"
                        required
                    />
                </div>
                <button type="submit" class="btn btn-primary w-full">ورود</button>
            </div>
        </form>
    </div>
{% endblock %}
