{% extends "layouts/dashboard.html" %}
{% block dashboard_content %}
    <div>
        <div class="flex items-center justify-between mb-6">
            <div>
                <h1 class="text-xl font-bold">شاگردها</h1>
                <p class="text-sm opacity-70">مدیریت شاگردهای ثبت‌شده</p>
            </div>

            <a href="/trainees/new" class="btn btn-primary">شاگرد جدید</a>
        </div>

        <div class="card bg-base-100 border-base-300 border">
            <div class="card-body p-0">
                <div class="max-w-150 overflow-x-auto">
                    <table class="table min-w-max w-full table-zebra">
                        <thead>
                            <tr>
                                <th class="text-right"></th>
                                <th>نام</th>
                                <th>شماره</th>
                                <th>جنسیت</th>
                                <th>تاریخ تولد</th>
                                <th>قد</th>
                                <th>وزن</th>
                                <th>ایمیل</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% if trainees and trainees|length > 0 %}
                                {% for trainee in trainees %}
                                    <tr>
                                        <td class="text-right">
                                            <a href="/trainees/{{ trainee.id }}" class="btn btn-sm">
                                                مشاهده
                                            </a>
                                        </td>
                                        <td>
                                            {{ (trainee.expand['user'].first_name ~ ' ' ~ trainee.expand['user'].last_name) if trainee.expand and 'user' in trainee.expand else '-' }}
                                        </td>
                                        <td>
                                            {{ trainee.expand['user'].phone if trainee.expand and 'user' in trainee.expand else '-' }}
                                        </td>
                                        <td>
                                            {% if trainee.gender == 'male' %}آقا{%
                                                elif trainee.gender ==
                                                'female'
                                            %}خانم{% else %}-{% endif %}
                                        </td>
                                        <td>{{ trainee.birthdate | jalali_year or '-' }}</td>
                                        <td>{{ trainee.height or '-' }}</td>
                                        <td>{{ trainee.weight or '-' }}</td>
                                        <td>
                                            {{ trainee.expand['user'].email if trainee.expand and 'user' in trainee.expand else '-' }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="8" class="text-center py-8 opacity-60">
                                        <div class="bg-base-200 p-4 text-center card">
                                            <p class="text-sm opacity-60 p-4">
                                                <span
                                                    class="status status-secondary animate-bounce ml-1"
                                                ></span>
                                                هنوز هیچ شاگردی ثبت نکردید!
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
