{% extends "layouts/dashboard.html" %}
{% block dashboard_content %}
    <div class="max-w-150">
        <div class="items-center justify-between bg-base-200 p-4 mb-4 card flex-row-reverse">
            {% if plan.is_template | string | lower == 'true' %}
                <div class="flex gap-2">
                    <a href="/plans/{{ plan.id }}/edit" class="btn btn-sm">ویرایش</a>
                </div>
                <div class="text-center">
                    <h1 class="text-m font-semibold text-right ml-4">
                        <span class="opacity-60 font-extrabold">قالب:</span>
                        {{ plan.template_name or 'بدون نام' }}
                    </h1>
                </div>
            {% else %}
                <a href="/plans/{{ plan.id }}/edit" class="btn btn-sm">ویرایش</a>
                <div class="text-center">
                    <h1 class="text-m font-semibold text-right ml-4">
                        برنامه‌ی
                        {{ (plan.expand['trainee'].expand['user'].first_name ~ ' ' ~ plan.expand['trainee'].expand['user'].last_name) if plan.expand and 'trainee' in plan.expand and plan.expand['trainee'].expand and 'user' in plan.expand['trainee'].expand else '-' }}
                    </h1>
                </div>
            {% endif %}
        </div>

        <div class="grid grid-cols-3 gap-4 text-sm mb-4 text-center">
            <div>
                <span class="opacity-60 block">نوع</span>
                <span class="font-medium">
                    {% if plan.type == 'diet' %}
                        غذایی
                    {% elif plan.type =='training' %}
                        ورزشی
                    {% else %}
                        استروئید
                    {% endif %}
                </span>
            </div>
            <div>
                <span class="opacity-60 block">روز در هفته</span>
                <span class="font-medium">{{ plan.days_per_week or '-' }}</span>
            </div>
            <div>
                <span class="opacity-60 block">وضعیت</span>
                <span class="font-medium">
                    {% if plan.status == 'active' %}
                        فعال
                    {% elif plan.status == 'inactive' %}
                        غیرفعال
                    {% else %}
                        -
                    {% endif %}
                </span>
            </div>

            {% if plan.is_template | string | lower != 'true' %}
                <div>
                    <span class="opacity-60 block">مربی</span>
                    <span class="font-medium">
                        {{ (plan.expand['coach'].first_name ~ ' ' ~ plan.expand['coach'].last_name) if plan.expand and 'coach' in plan.expand else '-' }}
                    </span>
                </div>
                <div>
                    <span class="opacity-60 block">تاریخ شروع</span>
                    <span class="font-medium">{{ plan.start_date | jalali_date or '-' }}</span>
                </div>
                <div>
                    <span class="opacity-60 block">تاریخ پایان</span>
                    <span class="font-medium">{{ plan.end_date | jalali_date or '-' }}</span>
                </div>
            {% endif %}

            {% if plan.notes and plan.notes != "" %}
                <div class="bg-base-200 p-4 rounded-lg col-span-3 text-right mt-2">
                    <p class="text-sm opacity-60">{{ plan.notes }}</p>
                </div>
            {% endif %}
        </div>

        {% if plan.is_template | string | lower == 'true' %}
            <button
                class="btn btn-s w-full"
                type="button"
                hx-get="/templates/{{ plan.id }}/apply"
                hx-target="#modal-container"
                hx-swap="innerHTML"
                hx-boost="false"
            >
                اعمال برای شاگرد
            </button>
        {% endif %}

        <div>
            <div class="mt-4">
                <div class="divider text-xs opacity-50">آیتم‌های برنامه</div>
                <button
                    class="btn btn-primary btn-soft btn-s w-full mb-4"
                    type="button"
                    hx-get="/items/new?plan_type={{ plan.type }}&plan_id={{ plan.id }}"
                    hx-target="#modal-container"
                    hx-swap="innerHTML"
                    hx-boost="false"
                >
                    افزودن آیتم
                </button>
                <div
                    id="items-list-content"
                    class="flex flex-col gap-2"
                    hx-get="/plans/{{ plan.id }}"
                    hx-trigger="performListRefresh from:body"
                    hx-select="#items-list-content"
                    hx-swap="outerHTML"
                >
                    {% for item in item.items %}
                        <div class="bg-base-200 p-4 card">
                            {% if plan.type == 'diet' %}
                                <div class="flex justify-between items-center">
                                    <div class="max-w-3/4">
                                        <h3 class="font-bold text-sm">{{ item.meal_name }}</h3>
                                        <p class="text-sm opacity-80 mt-1">
                                            غذا: {{ item.name }} | مقدار: {{ item.quantity }}
                                        </p>
                                    </div>
                                    <button
                                        type="button"
                                        class="btn btn-xs text-left"
                                        hx-get="/items/{{ item.id }}/edit?plan_type={{ plan.type }}"
                                        hx-target="#modal-container"
                                        hx-swap="innerHTML"
                                        hx-boost="false"
                                        hx-select="unset"
                                    >
                                        ویرایش
                                    </button>
                                </div>
                                {% if item.notes %}
                                    <p class="text-xs opacity-60 mt-2">توضیحات: {{ item.notes }}</p>
                                {% endif %}
                            {% elif plan.type == 'steroid' %}
                                <div class="flex justify-between items-center">
                                    <div>
                                        <h3 class="font-bold text-sm">{{ item.name }}</h3>
                                        <p class="text-sm opacity-80 mt-1">
                                            روز مصرف: {{ item.seq or '-' }}
                                        </p>
                                    </div>
                                    <button
                                        type="button"
                                        class="btn btn-xs text-left"
                                        hx-get="/items/{{ item.id }}/edit?plan_type={{ plan.type }}"
                                        hx-target="#modal-container"
                                        hx-swap="innerHTML"
                                        hx-boost="false"
                                        hx-select="unset"
                                    >
                                        ویرایش
                                    </button>
                                </div>
                                {% if item.notes %}
                                    <p class="text-xs opacity-60 mt-2">توضیحات: {{ item.notes }}</p>
                                {% endif %}
                            {% elif plan.type == 'training' %}
                                <div class="flex justify-between items-center gap-2">
                                    <div>
                                        <span class="badge badge-accent badge-sm">
                                            روز {{ item.seq }}
                                        </span>
                                        <h3 class="font-bold text-sm mt-1">{{ item.name }}</h3>
                                        <p class="text-sm opacity-80 mt-1">
                                            ست: {{ item.sets }} | تکرار: {{ item.reps }} | وزن:
                                            {{ item.weight }}kg
                                        </p>
                                    </div>
                                    <button
                                        type="button"
                                        class="btn btn-xs text-left"
                                        hx-get="/items/{{ item.id }}/edit?plan_type={{ plan.type }}"
                                        hx-target="#modal-container"
                                        hx-swap="innerHTML"
                                        hx-boost="false"
                                        hx-select="unset"
                                    >
                                        ویرایش
                                    </button>
                                </div>
                            {% else %}
                                <p class="text-sm opacity-60">{{ item.name }}</p>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="bg-base-200 p-4 text-center card">
                            <p class="text-sm opacity-60 p-4">
                                <span class="status status-secondary animate-bounce ml-1"></span>
                                هیچ آیتمی ثبت نشده.
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
