{% extends "base.html" %}
{% block content %}
    <!-- Content area that gets swapped -->
    <header class="py-4 flex bg-base-100 items-center text-center mx-auto max-w-150">
        <div class="flex items-center">
            <button
                class="btn btn-ghost btn-circle btn-sm"
                aria-label="بازگشت به صفحه قبل"
                onclick="history.back()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                    />
                </svg>
            </button>
        </div>
        <div class="text-m opacity-70 pr-1">{{ title }}</div>
        <div class="font-bold text-m ml-2 text-end flex-auto">
            {{ tenant.name if tenant else "Gym" }}
        </div>
    </header>
    <div id="page-content" class="px-2 pt-4 pb-24">{% block dashboard_content %}{% endblock %}</div>

    <!-- Persistent Navigation -->
    <nav
        class="fixed bottom-0 left-0 right-0 bg-base-200 border-t border-base-300 flex justify-around px-3 py-6 w-full mx-auto max-w-150 z-100 text-xs"
    >
        {% if role == "owner" or role == "coach" %}
            <a href="/dashboard">داشبورد</a>
            <a href="/plans">برنامه‌ها</a>
            <a href="/trainees/new">افزودن شاگرد</a>
            <a href="/trainees">شاگردها</a>
            <a href="/plans">تنظیمات</a>
        {% else %}
            <a href="/dashboard">داشبورد</a>
            <a href="/plans">برنامه‌ها</a>
            <a href="/trainees/new">افزودن شاگرد</a>
            <a href="/trainees">شاگردها</a>
            <a href="/plans">تنظیمات</a>
        {% endif %}
    </nav>
{% endblock %}
