{% extends 'layouts/dashboard.html' %}

{% block dashboard_content %}
<form
    hx-post="{{ '/coaches/' + coach.id if coach else '/coaches/new' }}"
    hx-swap="none"
    class="bg-base-100 space-y-4"
>
    <div class="grid grid-cols-2 gap-4 items-baseline">
        <label class="floating-label">
            <span>{{ _('First name') }}</span>
            <input
                type="text"
                name="first_name"
                required
                class="input w-full validator"
                placeholder="{{ _('First name') }}"
                value="{{ coach.first_name if coach else '' }}"
            />
            <div class="validator-hint hidden">{{ _('This field is required.') }}</div>
        </label>
        <label class="floating-label">
            <span>{{ _('Last name') }}</span>
            <input
                type="text"
                name="last_name"
                required
                class="input w-full validator"
                placeholder="{{ _('Last name') }}"
                value="{{ coach.last_name if coach else '' }}"
            />
            <div class="validator-hint hidden">{{ _('This field is required.') }}</div>
        </label>
    </div>
    <div class="form-control">
        <label class="input w-full validator">
            <span class="label">{{ _('Email') }}</span>
            <input
                type="email"
                name="email"
                value="{{ coach.email if coach else '' }}"
                {{ 'readonly' if coach else '' }}
                placeholder="e.g. test@gyme.cloud"
                required
            />
        </label>
        <div class="validator-hint hidden">{{ _('Enter a valid email address.') }}</div>
    </div>
    {% if coach %}
        {% include 'components/phone_field.html' with phone_value=coach.phone %}
    {% else %}
        {% include 'components/phone_field.html' %}
    {% endif %}

    <div class="flex flex-col gap-2 mt-6">
        {% if coach %}
        <button
            type="button"
            class="btn btn-error btn-soft w-full border-2 border-base-content/20"
            hx-get="/coaches/{{ coach.id }}/confirm-delete"
            hx-target="#modal-container"
            hx-swap="innerHTML"
            hx-boost="false"
        >
            {{ _('Delete coach') }}
        </button>
        {% endif %}
        <div class="flex justify-end gap-2">
            <a href="/coaches" class="btn btn-ghost border-2 border-base-content/20" hx-boost="false">
                {{ _('Cancel') }}
            </a>
            <button type="submit" class="btn btn-primary flex-1 border-2 border-base-content">
                {{ _('Save changes') if coach else _('Add coach') }}
            </button>
        </div>
    </div>
</form>
{% endblock %}