{% extends "layouts/dashboard.html" %} {% block dashboard_content %}

<form hx-post="/trainees" class="bg-base-100 space-y-4">
    <div class="grid grid-cols-2 gap-4">
        <!-- First Name -->
        <div class="form-control">
            <label class="label"><span class="label-text">نام</span></label>
            <input
                type="text"
                name="first_name"
                placeholder="مثل راستین"
                required
                class="input input-bordered w-full"
            />
        </div>

        <!-- Last Name -->
        <div class="form-control">
            <label class="label"><span class="label-text">نام خانوادگی</span></label>
            <input
                type="text"
                name="last_name"
                placeholder="مثل امانی"
                required
                class="input input-bordered w-full"
            />
        </div>
    </div>

    <!-- Contact Info -->
    <div class="grid grid-cols-1 gap-4">
        <div class="form-control">
            <label class="label"><span class="label-text">ایمیل</span></label>
            <input
                type="email"
                name="email"
                required
                placeholder="مثل test.email@gmail.com"
                class="input input-bordered w-full"
            />
        </div>
        <div class="form-control">
            <label class="label"><span class="label-text">شماره موبایل</span></label>
            <input
                type="tel"
                name="phone"
                required
                placeholder="مثل ۰۹۱۰۷۶۵۶۲۹۵"
                class="input input-bordered w-full text-right"
            />
        </div>
    </div>

    <!-- Gender and Statud -->
    <div class="grid grid-cols-2 gap-4">
        <div class="form-control">
            <label class="label"><span class="label-text">جنسیت</span></label>
            <select name="gender" class="select select-bordered w-full">
                <option value="male">آقا</option>
                <option value="female">خانم</option>
            </select>
        </div>
        <div class="form-control">
            <label class="label"><span class="lable-text">وضعیت</span></label>
            <select name="status" class="select select-bordered w-full">
                <option value="active">فعال</option>
                <option value="inactive">غیرفعال</option>
            </select>
        </div>
    </div>

    <!-- Notes -->
    <div class="form-control">
        <label class="label"><span class="label-text">یادداشت تکمیلی</span></label>
        <textarea name="notes" class="textarea textarea-bordered h-24 w-full"></textarea>
    </div>

    <!-- Actions -->
    <div class="flex flex-col-reverse justify-end gap-2 mt-6">
        <a href="/trainees" class="btn btn-ghost">انصراف</a>
        <button type="submit" class="w-full btn btn-primary">ثبت شاگرد</button>
    </div>
</form>
{% endblock %}
