{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "ignore",
    "proseWrap": "preserve",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-jinja-template"],
    "overrides": [
        {
            "files": ["*.html", "*.jinja", "*.j2"],
            "options": {
                "parser": "jinja-template"
            }
        }
    ]
}
