{% extends "layouts/dashboard.html" %}
{% block dashboard_content %}
    <div class="max-w-150">
        <div class="items-center justify-between bg-base-100 border-2 border-base-content p-4 mb-4 card flex rounded-[2.5rem]">
            <a href="/change-password" class="btn btn-sm border-2 border-base-content">{{ _('Change password') }}</a>
            <div class="text-center">
                <h1 class="font-display font-normal text-2xl leading-tight text-left ml-4">
                    {{ user.first_name ~ ' ' ~ user.last_name }}
                </h1>
            </div>
        </div>
        <!-- Info Grid -->
        <div class="grid grid-cols-2 gap-4 text-sm mb-8 text-center">
            <div>
                <span class="text-fog block text-xs mb-1">{{ _('Email') }}</span>
                <span class="font-medium">{{ user.email }}</span>
            </div>
            <div>
                <span class="text-fog block text-xs mb-1">{{ _('Status') }}</span>
                <span class="font-medium">{{ _('Active') }}</span>
            </div>
            <div>
                <span class="text-fog block text-xs mb-1">{{ _('Account created') }}</span>
                <span class="font-medium">{{ tenant.created | jalali_date or '-' }}</span>
            </div>
            <div>
                <span class="text-fog block text-xs mb-1">{{ _('Last updated') }}</span>
                <span class="font-medium">{{ tenant.updated | jalali_date }}</span>
            </div>
        </div>

        <!-- Items Section -->
        <div class="hidden">
            <div class="mt-4" id="items-list-container">
                <div class="divider text-xs opacity-50">
                    {{ _('App information and settings') }}
                </div>
                <div class="grid grid-cols-2 gap-4 text-sm mb-8 text-center">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}